.Quote{
		border: 5px solid midnightblue;
		margin-bottom: 20px;
		padding: 20px;
}
.QuoteAuthor{
		color: darkred;
		font-size: 20px;
		font-weight: bold;
}
.QuoteText{
		font-style: italic;
		font-weight: bold;
		font-size: 18px;
}
.Quote a{
		margin-left: 20px;
		font-size: 18px;
		color: midnightblue;
		padding: 5px 10px;
		border-radius: 10px;
		border: 3px solid midnightblue;
		text-decoration: none;
}