.FormItem{
		margin: 30px 0;
}
.Form {
		display: flex;
		flex-direction: column;
		width: 80%;
}
.Form input,
.Form select,
.Form textarea{
		width: 500px;
		margin: 20px 0;
		padding: 10px;
		max-height: 100px;
}
.Form label{
		padding: 20px 0;
}
