.Categories{
		border-right: 20px solid midnightblue;
		width: 20%;
		height: 2000px;
		background: khaki;
		font-size: 20px;
		font-weight: bold;
}
.CategoriesList{
		padding: 20px;
		margin: 0;
		list-style: none;
}
.CategoriesList li{
		padding: 20px;
}
.CategoriesList a{
		color: midnightblue;
		text-decoration: none;
}
.CategoriesList a:hover{
		color: darkred;
}